<!doctype html>
<html>
<head>
  <title>Play Madlibs!</title>
</head>
<body>

<form action="/madlib" method="GET">
    Enter Your First Name: <br>
    <input type="text" name="firstname"><br><br>
    Choose Your Color:  <br>
    <input type="checkbox" name="color" value="red">red<br>
    <input type="checkbox" name="color" value="grey">grey<br>
    <input type="checkbox" name="color" value="blue">blue<br><br>
   
    Pick an adjective<br>
    <input type="text" name="adjective"><br><br>
   Choose a noun.<br>
    <select name="noun"><br>
        <option value="hackbright">Hackbright</option>
        <option value="melon">Melon</option>
        <option value="robot unicorn">Robot Unicorn</option>
    </select><br><br><br><br>
    <input type="submit"><br>
</form>

</body>
</html>